body {
    margin:0px;
    background-color: #ffffff;
  }
  #header {
    width : 100%;
    height: 50px;
    border-bottom: solid 1px #eee;
    margin: 0px;
    padding: 0px;
    top : 0px;
  }
  #head-container {
    width : 1000px;
    height: 100%;
    margin : auto auto;
    padding : 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #head-container > #logo {
    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding : 4px 10px;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 150px;
    text-align: center;
  }
  #head-container > nav {
    width: 100%;
    color:#57606f;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
  }
  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  #head-container nav > a {
    padding : 5px 10px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;

  }
  #head-container nav > a:hover {
    color:black;
  }
  #content {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 1000px;
    margin : 0px auto;
    padding: 45px 30px 30px 30px;
    top : 50px;
    box-sizing: border-box;

  }
  #content p {
    font-size: 17px;
  }
  #footer {
    color: grey;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    border-top: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  #foot-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    user-select: none;
  }
  #banner {
	color:white;
	font-family: 'Roboto Condensed', sans-serif;
    background-image:url("../img/banner_background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    width:100%;
    height: 400px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  
  #title {
  	left:20px;
  	right:20px;
	margin: 20px auto;
    padding:10px;
    max-width:500px;
	text-align: center;
	font-size: 32px;
	font-weight:400;
    background-color:rgba(255,255,255,1);
    color:black;
    border-radius:20px;
    box-sizing:border-box;
  }
  #button-bar {
    display:flex;
    flex-direction:row;
    margin:auto;
    max-width:1000px;
    justify-content:center;
  }
  #button-bar > a {
	background-color: rgba(0,0,0,0.5);
 	color:white;
	border-radius:20px;
	padding:10px 30px;
	margin:5px;
	box-sizing:border-box;
  }
  #button-bar > a:hover {
	background-color: rgba(255,255,255,1);
	color:black;
  }
  
  .entry > h1 {
    color: black;
    font-size: 24px;
    font-weight: bold;
  //  border-bottom: 1px dotted black;
  }
  .entry > h6 {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 15px;
    font-weight: 300;
  }
  .entry p {
    font-size: 18px;
  }
  .entry {
    border: 1px solid #f5f5f5;
    text-decoration: none;
    display: block;
    background-color:#f5f5f5;
    margin: 0 0 30px 0;
    padding: 25px;
    box-sizing: border-box;
    color:black;
    -webkit-transition: border 0.4s;
    -moz-transition: border 0.4s;
    -o-transition: border 0.4s;
    transition: border 0.4s;
  }
  .entry img {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .entry:hover {
    border: 1px solid #e1e1e1;
  }
  .rightarrow {
    text-align: right;
    margin: 10px 0 0 0 ;
    padding: 0;
    font-size: 30px;
  } 
