body {
  margin:0px;
  background-color: rgb(250,250,250);
  user-select: none;
}
#header {
  width : 100%;
  height: 50px;
  border-bottom: solid 1px #eee;
  margin: 0px;
  padding: 0px;
  top : 0px;
  box-shadow: 0px 2px #d3d3d3;
  z-index:9999;
}
#head-container {
  max-width : 1000px;
  width:100%;
  height: 100%;
  margin : auto auto;
  padding : 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#head-container > #logo {
  margin: 0px auto 0px 5px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding : 4px 1em;
  background-color: black;
  color : white;
  border-radius: 15px;
  text-align: center;
}
#head-container #desktop-nav {
  margin: 0px 0px 0px auto;
}
#head-container nav {
  width: 100%;
  color:#57606f;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
#head-container nav > a {
  padding : 5px 10px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

#head-container nav > a:hover {
  color: black;
}

#content {
  font-family: 'Roboto Condensed', sans-serif;
  width:100%;
  max-width: 1000px;
  margin : 0px auto;
  padding: 45px 30px 30px 30px;
  top: 50px;
  box-sizing: border-box;
}
#content p {
  font-size: 17px;
}
#footer {
  color: grey;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  border-top: 1px solid #eee;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
#foot-container {
  width:100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  user-select: none;
}
#banner {
  color:white;
  font-family: 'Roboto Condensed', sans-serif;
  background-image:url("../img/events_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width:100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title {
  padding:10px 30px;;
  margin: 20px auto;
  font-weight:400;
  font-size: 21px;
  text-align: center;
  background-color:rgba(255,255,255,1);
  color: black;
  border-radius:20px;
  box-sizing: border-box;
}
#top-work {
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 350px;
  box-sizing:border-box;
}
#top-work a {
  display: block;
  border: 1px solid white;
  height:100%;
  margin: 0px 10px;
  box-sizing:border-box;
  transition: transform 1s;
}
#top-work a > img {
  height: 100%;
}
#top-work a > .overlay {
  display:none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.5);
  color: white;
  font-size: 20px;
  font-weight: 400;
}
#top-work a:hover{
  transform: scale(1.02,1.02);
}
#top-work a:hover .overlay{
  display: flex;
}
#button-bar {
  display:flex;
  flex-direction:row;
  margin:auto;
  justify-content:center;
}
#button-bar > a {
  color:white;
  border-radius:20px;
  padding:10px 30px;
  margin:5px;
  box-sizing:border-box;
  background-color: rgba(0,0,0,0.5);
}
#button-bar > a:hover {
  background-color: rgba(255,255,255,1);
  color:black;
}
.entry  h1 {
  color: black;
  font-size: 22px;
  font-weight: bold;
}
.entry h6 {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 15px;
  font-weight: 400;
}
.entry p {
  font-size: 16px;
}
.entry {
  border: 1px solid #f5f5f5;
  text-decoration: none;
  display: block;
  background-color:#f5f5f5;
  box-sizing: border-box;
  margin: 20px 0px;
  color:black;
  -webkit-transition: border 0.4s;
  -moz-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;
}
.entry:hover {
  border: 1px solid #e1e1e1;
}
.rightarrow {
  text-align: right;
  margin: 10px 0 0 0 ;
  padding: 0;
  font-size: 30px;
} 
#mobile-nav {
  display:none;
  margin: 0px 5px 0px auto;
  padding: 7px 0px;
  height: 100%;
  box-sizing: border-box;
}
