/*Responsive Navigation Drop Down*/
  .toggle{
    width: 100%;
    padding: 10px 20px;
    background: black;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
  }
  .drop-dwn{
    padding: 0;
    margin: 0;
  }
  .drop-dwn li{
    list-style: none;
    margin: 0 auto;
    padding: 10px;
    background: grey;
  }
  .drop-dwn li a{
    font-size: 24px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
  }
  .nav-drop{
    display: none;
  }
  #droplogo{
    padding : 6px 0 0 6px;
    width: 35%;
  }
   #droplogo a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 300;
    background-color: white;
    color : black;
    border-radius: 15px;
    width: 180px;
    text-align: center;
    text-decoration: none;
  }
  @media (max-width:768px){
    #header{
      display: none;
    }
    .nav-drop{
      display: block;
    }
    .toggle{
      display: block;
    }
    .drop-dwn li{
      text-align: center;
      display: block ;
    }
    .drop-dwn{
      width: 100%;
      display: block;
    }
    .active{
      display: block;
    }
    .not-active{
      display: none;
    }
    #droplogo {
      float: left;
    }
  }