
#dropdown-menu-btn {
  display: block;
  user-select: none;
  height: 100%;
  border-radius: 9px;
  margin:0px;
  padding: 0px 10px;
  line-height: 100%;
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
  line-height: 34px;
}
.deactivated_drop_down {
  background-color: rgb(240,240,240);
  border: 1px solid rgb(230,230,230);
  color:black;
}
.activated_drop_down {
  background-color: black;
  color:white;
  border: 1px solid black;
}
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	z-index: 5;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#logo1, .nav-btn{
	display: none;
}
@media screen and (max-width:1050px) {
  #tab-group.ready .tab-header {
    font-size: 14px;
  }
  #content p {
    font-size: 14px;
  }
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display : block;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
  }
  #head-container > #logo {
    font-size: 20px;
    padding : 4px 1em;
    width: initial;
  }
  #logo1,.nav-btn{
	  display: block;
  }
  #logo1{
	  top: 3px;
	  left: 1px;
	  position: relative;
    float:left;
    width: 35%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding : 4px 10px;
    background-color: black;
    color : white;
    border-radius: 15px;
    width: 180px;
    text-align: center;
  } 
  #title {
    font-size: 20px;
  }
  #button-bar {
    font-size: 12px;
  }
  #footer {
    font-size : 12px;
  }
}

@media screen and (max-width:601px) {

#banner {
	background-size: auto 100%;
	}
  }


}
