.loader-frame{
  font-size: 20px;
  width: 4em;
  height: 4em;
  position: relative;
  margin: auto;
  margin-top: 1em;
}

.preloadercontainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Preloader design*/
.loader1, .loader2 {
  position: absolute;
  border: 0.25em solid transparent;
  border-radius: 50%;
}
.loader1{
  width: 3.50em;
  height: 3.50em;
  border-top: 0.25em solid azure;
  border-bottom: 0.25em solid azure;
  animation: clockwise 2s linear 3;
}
.loader2{
  width: 3em;
  height: 3em;
  border-left: 0.25em solid red;
  border-right: 0.25em solid red;
  top: 0.25em;
  left: 0.25em;
  animation: anticlockwise 2s linear 3;
}
/*preloader animation*/
@keyframes clockwise {
  from{transform: rotate(0deg);}
  to {transform: rotate(360deg);}

}
@keyframes anticlockwise {
  from{transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}
@keyframes fadeout {
  from { opacity: 1;}
  to { opacity: 0;}
}

/*Quotes for display*/
#quote-board{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
  width: 80%;
  text-align: center;
  position: relative;
  z-index: 10;
  margin: auto;
  top: 30%;
  left: 0;
}
#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
  z-index: 5;
  display: block;
 }
 /*During preloading, overflow is to be hidden*/
.overflow{
    overflow-y: hidden;
  }
  
@media (max-width: 512px) {
#quote-board{
  font-size: 15px;
}

.loader-frame{
  font-size: 15px;
}
}  

@media (max-height: 512px) {
#quote-board{
  font-size: 15px;
}

.loader-frame{
  font-size: 15px;
}
}

@media (max-height: 300px) {
#quote-board{
  font-size: 15px;
}

.loader-frame{
  font-size: 10px;
}
}

@media (max-width: 800px) and (max-height: 512px){
#quote-board{
  font-size: 13px;
  width: 90%;
}
}  
