.loader-frame{
  width: 80px;
  height: 80px;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
}
/*Preloader design*/
.loader1, .loader2 {
  position: absolute;
  border: 5px solid transparent;
  border-radius: 50%;
}
.loader1{
  width: 70px;
  height: 70px;
  border-top: 5px solid azure;
  border-bottom: 5px solid azure;
  animation: clockwise 2s linear 3;
}
.loader2{
  width: 60px;
  height: 60px;
  border-left: 5px solid red;
  border-right: 5px solid red;
  top: 5px;
  left: 5px;
  animation: anticlockwise 2s linear 3;
}
/*preloader animation*/
@keyframes clockwise {
  from{transform: rotate(0deg);}
  to {transform: rotate(360deg);}

}
@keyframes anticlockwise {
  from{transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}
@keyframes fadeout {
  from { opacity: 1;}
  to { opacity: 0;}
}

/*Quotes for display*/
#quote-board{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  color: white;
  height: 100px;
  width: 80%;
  text-align: center;
  position: relative;
  z-index: 10;
  margin: auto;
  top: 30%;
  left: 0;
}
#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
  z-index: 5;
  display: block;
 }
 /*During preloading, overflow is to be hidden*/
.overflow{
    overflow-y: hidden;
  }
