  body {
    margin:0px;
    background-color: #ffffff;
  }
  #header {
    width : 100%;
    height: 50px;
    border-bottom: solid 1px #eee;
    margin: 0px;
    padding: 0px;
    top : 0px;
  }
  #head-container {
    width : 1000px;
    height: 100%;
    margin : auto auto;
    padding : 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #head-container > #logo {
    width: 35%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding : 4px 10px;
    background-color: black;
    color : white;
    border-radius: 15px;
    width: 180px;
    text-align: center;
  }
  #head-container > nav {
    width: 100%;
    color:#57606f;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
  }
  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  #head-container nav > a {
    padding : 5px 10px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;

  }
  #head-container nav > a:hover {
    color:black;
  }
  #content {
    font-family: 'Roboto Condensed', sans-serif;
    width: 1000px;
    margin : 0px auto;
    padding: 45px 30px 30px 30px;
    top : 50px;
    box-sizing: border-box;
  }
  #content p {
    font-size: 17px;
  }
  #footer {
    color: grey;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    border-top: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  #foot-container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    user-select: none;
  }
  #banner {
	color:white;
	font-family: 'Roboto Condensed', sans-serif;
    background-image:url("img/banner_background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
    width:100%;
    height: 400px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  #title {
    display:block;
	margin: 20px auto;
    padding:10px;
    width:700px;
	text-align:center;
	font-size: 32px;
	font-weight:400;
    background-color:rgba(255,255,255,1);
    color:black;
    border-radius:20px;
    box-sizing:border-box;
  }
  #button-bar {
    display:flex;
    flex-direction:row;
    margin:auto;
    width:1000px;
    justify-content:center;
  }
  #button-bar > a {
	background-color: rgba(0,0,0,0.5);
 	color:white;
	border-radius:20px;
	padding:10px 30px;
	margin:5px;
	box-sizing:border-box;
  }
  #button-bar > a:hover {
	background-color: rgba(255,255,255,1);
	color:black;
  }
